<h1>You are quite meticulous as it seems.</h1>
<h3>Kindly select what you want to see.</h3>


<ul *ngIf="types">
	<mat-selection-list #typesC>
	  <mat-list-option *ngFor="let type of types">
		{{type.TYPE}}
	  </mat-list-option>
	</mat-selection-list>

	<p>
	  Options selected: {{typesC.selectedOptions.selected.length}}
	</p>
</ul>