.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav span{
	position:center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer{
	flex: 1 1 auto;
}
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
