<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer 
      class="sidenav" 
      fixedInViewport=false 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode=over
      [opened]="false" >
    <span class="center"><img src="assets/icons/icon-72x72.png"></span>
    
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <!-- Add Content Here -->
<mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-button routerLink="/"><h2>{{appTitle}}</h2></button>
      <span class="spacer"></span>

            <button mat-button routerLink="/">Home</button>
            <button mat-button routerLink="/gallery">Gallery</button>
            <button mat-button routerLink="/filter">Filter</button>


      <!-- THIRD BUTTON -->
            <button mat-button [matMenuTriggerFor]="category">Category</button>

            <mat-menu #category="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="vertebrates">Author</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">Form</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">Location</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">School</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">Timeframe</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrates">Type</button>

            </mat-menu>

            <mat-menu #vertebrates="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
              <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
              <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
              <button mat-menu-item>Birds</button>
              <button mat-menu-item>Mammals</button>
            </mat-menu>

            <mat-menu #invertebrates="matMenu">
              <button mat-menu-item>Insects</button>
              <button mat-menu-item>Molluscs</button>
              <button mat-menu-item>Crustaceans</button>
              <button mat-menu-item>Corals</button>
              <button mat-menu-item>Arachnids</button>
              <button mat-menu-item>Velvet worms</button>
              <button mat-menu-item>Horseshoe crabs</button>
            </mat-menu>

            <mat-menu #fish="matMenu">
              <button mat-menu-item>Baikal oilfish</button>
              <button mat-menu-item>Bala shark</button>
              <button mat-menu-item>Ballan wrasse</button>
              <button mat-menu-item>Bamboo shark</button>
              <button mat-menu-item>Banded killifish</button>
            </mat-menu>

            <mat-menu #amphibians="matMenu">
              <button mat-menu-item>Sonoran desert toad</button>
              <button mat-menu-item>Western toad</button>
              <button mat-menu-item>Arroyo toad</button>
              <button mat-menu-item>Yosemite toad</button>
            </mat-menu>

            <mat-menu #reptiles="matMenu">
              <button mat-menu-item>Banded Day Gecko</button>
              <button mat-menu-item>Banded Gila Monster</button>
              <button mat-menu-item>Black Tree Monitor</button>
              <button mat-menu-item>Blue Spiny Lizard</button>
              <button mat-menu-item disabled>Velociraptor</button>
            </mat-menu>
      <!-- THIRD BUTTON ENDS -->          

    </mat-toolbar>
    <div class="container">
      <ng-content>
      </ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
