@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Georgia, "Helvetica Neue", sans-serif; }

.container{
	margin:1rem 2rem;
}

table {
    width: 100%;
}